language: python
python:
- 3.8
- 3.7
- 3.6
install: pip install -U tox-travis
script: tox
sudo: required
dist: xenial
env:
  matrix:
    secure: au7xbV8LHwVnxZKY0H+uGLtaXdAopTl007qKc/G+dCiniYlk6+Yksg4kfpwqoWkJ3wUWGEU3xbSv0BQDoEL0r1Z5ZtmvqTyUt6BhBTfRT7qGsSxE2R4fKFw46lX+WRjSGs7TZtFXXMszTqJFy/wcg1VlJD33oS1KmgkCo5/fdb8vdj6MDGWT4NYDdA8IGdzhtu/e2n8CJXHLdl2Om5oW/xYX/plrLh9T3SdNlT3b/+kTTj0Pksqd57+6afhgvyM0XceuiCPVqh+763c5nhhOP+OfzDY4KaNRInqmSBPET/G/9/IywZZYfYl3AgRCQoywhkrkVZKINzJk6MnRdSIZGYW4h221TWrfFoW2WQYe16o+UA6uUnPBWf3rBKOD8gPALhNDTB6uOWVAu2+ji53Qvh0rOHMUdNHVHkkopRTTSMu3E+npVQh4jp5ts0z5/KILSvqbfX1SKlJYFGVRVNRqqBNgkJrvOHM8NVnU+bRXVyW3YBOP/Waco/gjYKu2Kfw68aepo6C4jqRVjsuu4hJdk529Bt6EdeNMX3C3hhyYvHeXVrZSXPP0q/ps9yCuV4ueB4cYLnf2uU1mXD6teK5FlnAPDXhvTkaseYuOgc9dlvyRliMWJYHP9yLfiFn5BpkKbDgOd10KAZ/BeuBiL8htvSjHaJcfrOkpUGQZR9ui/M0=
