pip==24.2
wheel==0.44.0
flake8==7.1.1
tox==4.23.0
coverage==7.6.4
Sphinx>=5.0.0
sphinx_rtd_theme==3.0.1
twine==5.1.1
pytest==8.3.3
pytest-runner==6.0.1
sphinx-thebe==0.3.1
advertools==0.16.1
pytest-cov==5.0.0
