pip==24.1.1
wheel==0.43.0
flake8==7.1.0
tox==4.15.1
coverage==7.5.4
Sphinx>=5.0.0
sphinx_rtd_theme==2.0.0
twine==5.1.1
pytest==8.2.2
pytest-runner==6.0.1
sphinx-thebe==0.3.1
advertools==0.14.3
pytest-cov
