pip==22.1.2
bumpversion==0.6.0
wheel==0.37.1
watchdog==2.1.9
flake8==4.0.1
tox==3.25.0
coverage==6.4.1
Sphinx==5.0.2
sphinx_rtd_theme==1.0.0
twine==4.0.1
pytest==7.1.2
pytest-runner==5.3.1
sphinx-thebe
